@font-face{font-family:'white_rabbitregular';src:url(/assets/whiterabbit-webfont-12b6a704cb5789470ebb2187a2952adbbb9c89011770928f53db43d81e892b36.eot);src:url(/assets/whiterabbit-webfont-12b6a704cb5789470ebb2187a2952adbbb9c89011770928f53db43d81e892b36.eot?#iefix) format("embedded-opentype"),url(/assets/whiterabbit-webfont-a08ee4f1c070f079eb409696ba99540440b6f1fa7769477eee83b6843a9adc4e.woff2) format("woff2"),url(/assets/whiterabbit-webfont-a1e033ec1d44de59bbeb0fce0797ee3c44fe686014b5fba4a0694ee4168de684.woff) format("woff"),url(/assets/whiterabbit-webfont-98b6964e9a616b11f921f82f290705e51069f1cc4c91bd676e93d4934b6658e8.ttf) format("truetype"),url(/whiterabbit-webfont.svg#white_rabbitregular) format("svg");font-weight:normal;font-style:normal}

body {
	background-color: #101215;
	color: #7AB2F4;
	font-family:"white_rabbitregular";
}

.key {
	color: #00FFFF;
}

.val {
	color: #FF00EC;
}

.scr-user {
	color: #9B9B9B;
}
.scr-trust {
	color: #FF8000;
}
.scr-scr, .recd {
	color: #1EFF00;
}

.trust {
	color: #FF0000;
}
.array-messed-up {
	color: #FFFFFF;
}

.gc-num {
	color: #CACACA;
}
.gc-gc {
	color: #9B9B9B;
}
.gc-k {
	color: #00FFFF;
}

a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	background-color: rgba(122,178,244,0.4);
}

.msg-content::before, .msg-content::after {
	content: ":::";
	color: #3F3F3F;
}

.col-cap-A, .col-1 {
	color: #FFFFFF;
}
.col-a {
	color: #000000;
}
.col-cap-B, .col-0, .timestamp {
	color: #CACACA;
}
.col-b {
	color: #3F3F3F;
}
.col-cap-C {
	color: #9B9B9B;
}
.col-c {
	color: #676767;
}
.col-cap-D {
	color: #FF0000;
}
.col-d {
	color: #7D0000;
}
.col-cap-E {
	color: #FF8383;
}
.col-e {
	color: #8E3434;
}
.col-cap-F, .col-5 {
	color: #FF8000;
}
.col-f {
	color: #A34F00;
}
.col-cap-G {
	color: #F3AA6F;
}
.col-g {
	color: #725437;
}
.col-cap-H {
	color: #FBC803;
}
.col-h {
	color: #A88600;
}
.col-cap-I {
	color: #FFD863;
}
.col-i {
	color: #B2934A;
}
.col-cap-J {
	color: #FFF404;
}
.col-j {
	color: #939500;
}
.col-cap-K {
	color: #F3F998;
}
.col-k {
	color: #495225;
}
.col-cap-L, .col-2 {
	color: #1EFF00;
}
.col-l {
	color: #299400;
}
.col-cap-M {
	color: #B3FF9B;
}
.col-m {
	color: #23381B;
}
.col-cap-N {
	color: #00FFFF;
}
.col-n {
	color: #00535B;
}
.col-cap-O {
	color: #8FE6FF;
}
.col-o {
	color: #324A4C;
}
.col-cap-P, .col-3 {
	color: #0070DD;
}
.col-p {
	color: #0073A6;
}
.col-cap-Q {
	color: #A4E3FF;
}
.col-q {
	color: #385A6C;
}
.col-cap-R {
	color: #0000FF;
}
.col-r {
	color: #010067;
}
.col-cap-S {
	color: #7AB2F4;
}
.col-s {
	color: #507AA1;
}
.col-cap-T, .col-4 {
	color: #B035EE;
}
.col-t {
	color: #601C81;
}
.col-cap-U {
	color: #E6C4FF;
}
.col-u {
	color: #43314C;
}
.col-cap-V {
	color: #FF00EC;
}
.col-v {
	color: #8C0069;
}
.col-cap-W {
	color: #FF96E0;
}
.col-w {
	color: #973984;
}
.col-cap-X {
	color: #FF0070;
}
.col-x {
	color: #880024;
}
.col-cap-Y {
	color: #FF6A98;
}
.col-y {
	color: #762E4A;
}
.col-cap-Z {
	color: #0C112B;
}
.col-z {
	color: #101215;
}
