.message_list {
	overflow-y: auto;
	max-height: 100%;
	white-space: pre-wrap;
	line-height: 0.9em;
}

.message_list li {
	margin: 0.5em 0;
}

.chat-input {
	width: 100%;
}


ul.tab-list {
	list-style: none;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	overflow-y:auto;
}
.user_area ul.tab-list {
	left:160px;
}

ul.tab-list li {
	display: block;
	max-width:150px;
	word-break:break-all;
	padding: 5px;
	margin: 0px;
	cursor: pointer;
	border: 1px solid white;
}

ul.tab-list li.active {
	border: 1px solid yellow;
	background:rgba(255,255,0,.25)
}


ul.tab-list li:hover {
	color: #fff;
}

#chat_beta_header {
	color: #555;
	position: fixed;
	left: 0.5rem;
	top: 0.2rem;
	right: 0.5rem;
	font-size: 1rem;
}

#chat_pass_login {
    position: fixed;
    z-index: 1;
	left: 1rem;
	top: 3rem;
}

#chat_beta_header div {
	position: absolute;
}

#chat_beta_header .title {
	left: 0;
}
#chat_beta_header .contribute {
	right: 0;
}
#chat_beta_header .contribute a {
	text-decoration: underline;
	color: #555;
}

#chat_area {
	display: block;
	position: fixed;
	top: 2rem;
	bottom: 1rem;
	left: 1rem;
	right: 1rem;
}
#chat_area .channel_area {
	position:absolute;
	left:330px;
	top:0;
	bottom:4rem;
	right:0;
}
