.message_list {
	overflow-y: scroll;
	max-height: 100%;
	white-space: pre-wrap;
	line-height: 0.9em;
}

.message_list li {
	margin: 0.5em 0;
}

.chat-input {
	width: 100%;
}

.tabset {
	height: 2rem
}

ul.tab-list {
	list-style: none;
}

ul.tab-list li {
	display: block;
	float: left;
	padding: 5px;
	margin: 0px 10px;
	cursor: pointer;
}

ul.tab-list li:hover {
	color: #fff;
}

#chat_area {
	display: block;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 1rem;
	right: 1rem;
}

#chat_area .channel_area {
    position: absolute;
    bottom: 4rem;
    top: 4rem;
    right: 0;
    left: 0;
}
